<!DOCTYPE html>
<html>
  <head>
    <title>d3-force-cluster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
    <style type="text/css">

        #mynetwork {
            width: {{width}};
            height: {{height}};
            background-color: {{bgcolor}};
            border: 1px solid lightgray;
            position: relative;
            float: left;
        }
    </style>

  </head>
  
  <body>
    <div id = "mynetwork"></div>
    {% if nodes|length > 100 %}
    <div id="loadingBar">
        <div class="outerBorder">
            <div id="text">0%</div>
            <div id="border">
                <div id="bar"></div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if conf %}
    <div id = "config"></div>
    {% endif %}
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v2.min.js"></script>
    <script>
    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;
    var container = document.getElementById('mynetwork');
    
    {% if use_DOT %}

        var DOTstring = "{{dot_lang|safe}}";
        var parsedData = vis.network.convertDot(DOTstring);
        
        data = {
          nodes: parsedData.nodes,
          edges: parsedData.edges
        }
        
        var options = parsedData.options;
        options.nodes = {
            shape: "dot"
        }
        
    {% else %}

        // parsing and collecting nodes and edges from the python
        nodes = new vis.DataSet({{nodes|tojson}});
        edges = new vis.DataSet({{edges|tojson}});

        // adding nodes and edges to the graph
        data = {nodes: nodes, edges: edges};

        var options = {{options|safe}};
        
    {% endif %}
    // default to using dot shape for nodes
    options.nodes = {
        shape: "dot"
    }
    {% if conf %}
        // if this network requires displaying the configure window,
        // put it in its div
        options.configure["container"] = document.getElementById("config");
    {% endif %}
    var nodes = [
  {"id": "Alice"},
  {"id": "Bob"},
  {"id": "Carol"}
];
    console.log(nodes);
    var simulation = d3.forceSimulation(nodes);
    
 
    </script>
  </body>
</html>

