{   "version": 1,
    "disable_existing_loggers": false,
    "formatters": {
            "simple": {
                "format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
            }
    },
    "handlers": {
            "console": {
                "class": "logging.StreamHandler",
                "level": "NOTSET",
                "formatter": "simple",
                "stream": "ext://sys.stdout"
            },
            "info_file_handler_grapher": {
                "class": "logging.handlers.RotatingFileHandler",
                "level": "INFO",
                "formatter": "simple",
                "filename": "../../log/ckg_grapher.log",
                "maxBytes": 10485760,
                "backupCount": 20,
                "encoding": "utf8"
            },
            "info_file_handler_importer": {
                "class": "logging.handlers.RotatingFileHandler",
                "level": "INFO",
                "formatter": "simple",
                "filename": "../../log/ckg_importer.log",
                "maxBytes": 10485760,
                "backupCount": 20,
                "encoding": "utf8"
            },
            "error_file_handler": {
                "class": "logging.handlers.SMTPHandler",
                "level": "ERROR",
                "formatter": "simple",
                "mailhost": "localhost",
                "fromaddr": "error@ckg.com",
                "toaddrs": "alberto.santos@cpr.ku.dk",
                "subject": "CKG ERROR"
            }
    },
    "loggers": {
            "my_module": {
                "level": "ERROR",
                "handlers": ["console"],
                "propagate": "no"
            }
    },
    "grapher": {
        "level": "INFO",
        "handlers": ["console", "info_file_handler_grapher", "error_file_handler"]
    },
    "importer": {
        "level": "INFO",
        "handlers": ["console", "info_file_handler_importer", "error_file_handler"]
    }
}
