PyUpSet==0.1.1.post7
obonet==0.2.3
networkx==2.2
dash==0.36.0
lxml==4.1.1
numpy==1.15.4
scipy==1.1.0
matplotlib==3.0.2
seaborn==0.9.0
umap==0.1.1
py2neo==4.1.0
python_louvain==0.11
joblib==0.13.1
dash_auth==1.3.2
dash_core_components==0.43.0
multi_key_dict==2.0.3
pandas==0.24.1
fancyimpute==0.4.2
statsmodels==0.9.0
dash_html_components==0.13.5
wordcloud==1.5.0
urllib3==1.24.1
setuptools==40.7.3
h5py==2.9.0
plotly==3.6.0
webweb==0.0.17
matplotlib_venn==0.11.5
natsort==5.3.3
predictive_imputer==0.2.0
Bio==0.1.0
ipython==7.3.0
beautifulsoup4==4.7.1
certifi==2018.11.29
community==1.0.0b1
kmapper==1.2.0
pyvis==0.1.5.0
rpy2==2.9.5
scikit_learn==0.20.2
PyYAML==3.13
