pandas==0.24.2
Flask==1.0.3
passlib==1.7.1
neo4j==4.2.0
PyYAML==5.1.1
wget==3.2
requests==2.22.0
biopython==1.73
obonet==0.2.5
rarfile==3.1
dash==1.2.0
redis>=3.2.1
matplotlib>=3.1.1
scipy==1.4.1
cyjupyter==0.2.0
pyvis==0.1.7.0
tzlocal==1.5.1
webweb==0.0.37
beautifulsoup4==4.7.1
sklearn==0.0
statsmodels==0.10.0
umap-learn>=0.3.9
pingouin>=0.3.10
python-louvain==0.13
snfpy==0.2.2
kmapper==1.2.0
natsort==6.0.0
mpmath==1.2.1
combat==0.2.0
lifelines==0.23.1
cvxpy==1.1.7
wordcloud==1.8.1
nltk==3.5
dash_cytoscape>=0.1.1
networkx==2.5
chart-studio==1.0.0
xhtml2pdf==0.2.4
lxml==4.3.4
celery==5.0.5
cffi>=1.14.0
rpy2==3.0.5; platform_system!="Windows"
h5py==2.10.0
jupyter>=1.0.0
xlrd==1.2.0
openpyxl==3.0.1
bcrypt==3.1.7
tables==3.6.1
psutil>=5.6.6
plotly==4.9.0
kaleido==0.0.1
gseapy==0.9.19
numpy==1.19.5
docutils==0.15.2
sphinx==2.3.1
rst2pdf==0.98
nbsphinx>=0.8.0
ipykernel>=5.4.3
eventlet==0.25.1
itsdangerous==2.0.1
reportlab==3.6.6